

NET A<0> LOC="P111";
NET A<1> LOC="P114";
NET A<2> LOC="P136";
NET A<3> LOC="P141";

NET B<0> LOC="P120";
NET B<1> LOC="P119";
NET B<2> LOC="P129";
NET B<3> LOC="P128";

NET CI LOC="P6";
NET Y<0> LOC="P132";
NET Y<1> LOC="P124";
NET Y<2> LOC="P113";
NET Y<3> LOC="P112";

NET CO LOC="P117";
