

NET A<0> LOC="P111";
NET A<1> LOC="P114";
NET A<2> LOC="P136";
NET A<3> LOC="P141";

NET SEG_OUT<0> LOC="P82";
NET SEG_OUT<1> LOC="P81";
NET SEG_OUT<2> LOC="P86";
NET SEG_OUT<3> LOC="P85";
NET SEG_OUT<4> LOC="P88";
NET SEG_OUT<5> LOC="P87";
NET SEG_OUT<6> LOC="P92";
NET SEG_OUT<7> LOC="P91";

NET CLK LOC="P56";
NET RST LOC="P6";
NET SEL LOC="P120";
NET CAL LOC="P10";


NET SEG_SEL<0> LOC="P98";
NET SEG_SEL<1> LOC="P83";
NET SEG_SEL<2> LOC="P75";
NET SEG_SEL<3> LOC="P74";
NET SEG_SEL<4> LOC="P77";
NET SEG_SEL<5> LOC="P76";
