

NET A<0> LOC="P111";
NET A<1> LOC="P114";
NET A<2> LOC="P136";
NET A<3> LOC="P141";

NET Y<0> LOC="P82";
NET Y<1> LOC="P81";
NET Y<2> LOC="P86";
NET Y<3> LOC="P85";
NET Y<4> LOC="P88";
NET Y<5> LOC="P87";
NET Y<6> LOC="P92";
NET Y<7> LOC="P91";
